# Unused docs
docs/AI_FEATURES.md
docs/API.md
docs/CONTRIBUTING.md
docs/DECISIONS.md
docs/DEPLOYMENT.md
docs/FEATURES.md
docs/MOBILE_APP.md
docs/SECURITY.md
docs/SUMMARY.md
docs/TESTING.md

# Python
.venv
__pycache__

# env
.env
.env.example
.env.local

# Misc
*.tsbuildinfo
.DS_Store
filelist.txt
*.zip
